<main>
    <div class="container d-flex justify-content-center alto">
        <div class="ancho">
            <form action="/register" method="POST" class="formulario-registro">
                <h2 class="mb-4">Register</h2>
                <div class="mb-3">
                    <input type="text" name="name" class="form-control" aria-describedby="emailHelp"
                        placeholder="Nombre" autofocus>
                </div>
                <div class="mb-3">
                    <input type="email" name="email" class="form-control" placeholder="Email">
                </div>
                <div class="mb-3">
                    <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
                <div class="mb-3">
                    <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm password">
                </div>
                <button type="submit" class="btn-color">Submit</button>

                {{#if error}}
                    <h5 class="text-danger mt-4">{{error}}</h5>
                {{/if}}
            </form>
        </div>
    </div>
</main>